<!DOCTYPE html>
<html>
<head>
{{ partial "meta.html" }}
</head>

<body>

<div class="body-center">
<h1 class="home-heading">{{ .Site.Title }}</h1>
{{ partial "nav.html" }}
 <div class="main-content"> {{ block "main" . }}</div>
  {{ end }}
  </div>
</body>
</html>
