<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/posts/">Blog</a></li>
    <li><a href="/works/">Works</a></li>
    <li><a href="/books/">Books</a></li>
  </ul>
</nav>
