html {
margin: 0px;}
body {
margin: 0px;
  font-family: sans-serif;
  background-color: gray;
}
.body-center {
	background-color: white;
	margin: 0 auto;
	height: auto;
	min-height: 100vh;
	width: 500px;
}
.main-content {
    padding: 20px 20px;
}
.home-heading {
	text-align: center; 
	margin: 0; 
	padding: 20px;
}
nav ul {
  list-style: none;
  padding: 3px 5px;
  background: #111;
  text-align: center;
  margin: 0px
}

  nav>ul>li>a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

 nav>ul>li {
    display: inline;
    padding: 0 7px;
  }
}

footer {
  background: #f2f2f2;
  padding: 2px 2px;
  font-size: .7em;
  text-align: center;
}

#map {
  height: 300px;
}
figure {
  text-align: center;
}
